#result {
	border: 1px black solid;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
td {
	padding-right: 5px;
	padding-left: 5px;
}

#snipe {
	text-align: center;
}

#iv_cal_div {
	text-align: center;
}

#snipe_result {
	padding-top: 10px;
}

.poke_icon {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 5px;
}

.loc_icon{
	width: 10px;
	height: 10px;
}

.snipe_icon {
	width: 15px;
	height: 15px;
	float:right;
}

#refresh_btn {
	margin-top: 10px;
}

.whole_poke_div {
	margin: 5px;
	text-align: left;
}

.name_coords_div {
	float:left;
}

table:nth-child(odd) {
	background-color:rgb(255, 242, 153);
}

td {
	border: 1px solid black;
	text-align: center;
}

#status, #result {
	display: none;
}

body {
	width: 300px;
	height: 30px;
}

#cp_input {
	width: 60px;
}

h6 {

	margin-top: 0px;
	margin-bottom: 0px;
}

#button {
	text-align: center;
	margin-top: 10px;
}


#cp_cal {
	display: none;
	clear: both;
	text-align: center;
	padding-top: 10px;
}

#iv_cal, #snipe {
	display: none;
}

#iv_cal {
	text-align: center;
	padding-top: 15px; 
}

.panel_btn {
	padding: 5px;
	border: 1px solid green;
	float:left;
	border-radius: 15px;
	background-color: green;
	font-style: bold;
	margin-right: 3px;
	opacity: 0.8;
	box-shadow: 1px 4px 2px 2px;
}

.panel_btn:hover{
	background-color: yellow;
	cursor: pointer;
}
#refresh_btn:hover, #evolve:hover{
	cursor: pointer;
}

#all_button {
	width: 250px;
	height: 32px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.iv_field {
	width: 60px;
}
#dust_field {
	width: 90px;
}


#iv_input {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

#result {
	border:none;
}

.iv_span {
	display: inline;
}

#powered_bool {
	margin-top: 8px;
}

.select_placeholder {
	opacity: 0.5;
}

#iv_result {
	margin-top: 8px;
	margin-bottom: 8px;
}

#iv_table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#perf_range, #num_possible, #avg_range {
	color: #848484;
	margin-bottom: 0px;
}

#perf_range_div, #avg_range_div {
	font-style: bold;
	font-size: 30px;
}

#avg_range_div {
	margin-bottom: 14.940px;
}

#perf_range_div {
	color: #a4e495;
}

#avg_range_div {
	color: #4ebe88;
}

.title_td, .stat_td {
	font-size: 1.5em;
	border:none;
}

.title_td {
	color:white;
	background-color: #a4e495;
}

#poke_png {
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
	margin-top: 15px;
}